# general  modules
django>3.2,<3.3
python-decouple
pillow
djangorestframework
djangorestframework-simplejwt
djoser
django-cors-headers


# third party modules
markdown
django-filter
coreapi
drf-yasg[validation]

# email third party modules
django-mail-templated

# refactoring and tests
black
pytest
pytest-django
Faker